{
  "printWidth": 150,
  "singleQuote": true,
  "endOfLine": "lf",
  "trailingComma": "none",
  "tabWidth": 2,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
