<div class="options">
  <a
    mat-raised-button
    href="https://github.com/tiberiuzuld/angular-gridster2/tree/master/src/app/sections/items"
    target="_blank"
    class="source-code-button"
  >
    <mat-icon>open_in_new</mat-icon>
    Source
  </a>
  <markdown [src]="'assets/items.md'"></markdown>
</div>
@if (dashboard[0]) {
  <div class="options-header">
    <mat-form-field>
      <mat-label>X</mat-label>
      <input
        matInput
        [(ngModel)]="dashboard[0].x"
        type="number"
        (ngModelChange)="changedOptions()"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Y</mat-label>
      <input
        matInput
        [(ngModel)]="dashboard[0].y"
        type="number"
        (ngModelChange)="changedOptions()"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Rows</mat-label>
      <input
        matInput
        [(ngModel)]="dashboard[0].rows"
        type="number"
        (ngModelChange)="changedOptions()"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cols</mat-label>
      <input
        matInput
        [(ngModel)]="dashboard[0].cols"
        type="number"
        (ngModelChange)="changedOptions()"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Max Item Cols</mat-label>
      <input
        matInput
        [(ngModel)]="dashboard[0].maxItemCols"
        type="number"
        (ngModelChange)="changedOptions()"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Min Item Cols</mat-label>
      <input
        matInput
        [(ngModel)]="dashboard[0].minItemCols"
        type="number"
        (ngModelChange)="changedOptions()"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Max Item Rows</mat-label>
      <input
        matInput
        [(ngModel)]="dashboard[0].maxItemRows"
        type="number"
        (ngModelChange)="changedOptions()"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Min Item Rows</mat-label>
      <input
        matInput
        [(ngModel)]="dashboard[0].minItemRows"
        type="number"
        (ngModelChange)="changedOptions()"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Item Aspect Ratio</mat-label>
      <mat-select
        aria-label="Item Aspect Ratio"
        [(ngModel)]="dashboard[0].itemAspectRatio"
        (ngModelChange)="changedAspectRatio()"
      >
        <mat-option [value]="null">None</mat-option>
        <mat-option [value]="1 / 1">1/1</mat-option>
        <mat-option [value]="4 / 3">4/3</mat-option>
        <mat-option [value]="16 / 9">16/9</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Max Item Area</mat-label>
      <input
        matInput
        [(ngModel)]="dashboard[0].maxItemArea"
        type="number"
        (ngModelChange)="changedOptions()"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Min Item Area</mat-label>
      <input
        matInput
        [(ngModel)]="dashboard[0].minItemArea"
        type="number"
        (ngModelChange)="changedOptions()"
      />
    </mat-form-field>
    <mat-checkbox
      [(ngModel)]="dashboard[0].dragEnabled"
      (ngModelChange)="changedOptions()"
    >
      Drag
    </mat-checkbox>
    <mat-checkbox
      [(ngModel)]="dashboard[0].resizeEnabled"
      (ngModelChange)="changedOptions()"
    >
      Resize
    </mat-checkbox>
    <mat-checkbox
      [(ngModel)]="dashboard[0].compactEnabled"
      (ngModelChange)="changedOptions()"
    >
      Compact
    </mat-checkbox>
    @if (dashboard[0].resizableHandles) {
      <mat-checkbox
        [(ngModel)]="dashboard[0].resizableHandles.s"
        (ngModelChange)="changedOptions()"
      >
        Resize South
      </mat-checkbox>
      <mat-checkbox
        [(ngModel)]="dashboard[0].resizableHandles.e"
        (ngModelChange)="changedOptions()"
      >
        Resize East
      </mat-checkbox>
      <mat-checkbox
        [(ngModel)]="dashboard[0].resizableHandles.n"
        (ngModelChange)="changedOptions()"
      >
        Resize North
      </mat-checkbox>
      <mat-checkbox
        [(ngModel)]="dashboard[0].resizableHandles.w"
        (ngModelChange)="changedOptions()"
      >
        Resize West
      </mat-checkbox>
      <mat-checkbox
        [(ngModel)]="dashboard[0].resizableHandles.se"
        (ngModelChange)="changedOptions()"
      >
        Resize South-East
      </mat-checkbox>
      <mat-checkbox
        [(ngModel)]="dashboard[0].resizableHandles.ne"
        (ngModelChange)="changedOptions()"
      >
        Resize North-East
      </mat-checkbox>
      <mat-checkbox
        [(ngModel)]="dashboard[0].resizableHandles.sw"
        (ngModelChange)="changedOptions()"
      >
        Resize South-West
      </mat-checkbox>
      <mat-checkbox
        [(ngModel)]="dashboard[0].resizableHandles.nw"
        (ngModelChange)="changedOptions()"
      >
        Resize North-West
      </mat-checkbox>
    }
    <mat-form-field>
      <mat-label>Compact Type</mat-label>
      <mat-select
        aria-label="Compact type"
        [(ngModel)]="options.compactType"
        (ngModelChange)="changedOptions()"
      >
        <mat-option value="none">None</mat-option>
        <mat-option value="compactUp">Compact Up</mat-option>
        <mat-option value="compactLeft">Compact Left</mat-option>
        <mat-option value="compactLeft&Up">Compact Left & Up</mat-option>
        <mat-option value="compactUp&Left">Compact Up & Left</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-mini-fab (click)="addItem()" class="add-button cols-2">
      <mat-icon>add</mat-icon>
    </button>
  </div>
}

<gridster [options]="options">
  @for (item of dashboard; track item) {
    <gridster-item [item]="item">
      <div class="button-holder">
        <span>{{ item.cols }} / {{ item.rows }}</span>
        <button
          mat-mini-fab
          (mousedown)="removeItem($event, item)"
          (touchstart)="removeItem($event, item)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </gridster-item>
  }
</gridster>
