<div class="options">
  <a
    mat-raised-button
    href="https://github.com/tiberiuzuld/angular-gridster2/tree/master/src/app/sections/gridEvents"
    target="_blank"
    class="source-code-button"
  >
    <mat-icon>open_in_new</mat-icon>
    Source
  </a>
  <markdown [src]="'assets/gridEvents.md'"></markdown>
</div>
<div class="options-header">
  <button mat-mini-fab (click)="addItem()" class="add-button cols-2">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-mini-fab class="destroy-button" (click)="destroy()">
    <mat-icon>delete</mat-icon>
  </button>
</div>

<gridster [options]="options" *ngIf="!remove">
  <gridster-item [item]="item" *ngFor="let item of dashboard">
    <div class="button-holder">
      <button
        mat-mini-fab
        (mousedown)="removeItem($event, item)"
        (touchstart)="removeItem($event, item)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </gridster-item>
</gridster>
