<div class="options">
  <a mat-raised-button href="https://github.com/tiberiuzuld/angular-gridster2/tree/master/src/app/sections/gridEvents"
     target="_blank" class="source-code-button">
    <mat-icon>open_in_new</mat-icon>
    Source
  </a>
  <markdown>
    ### Options
    Option | Description | Type | Default
    ------------ | ------------- | ------------- | -------------
    initCallback | callback to call after grid has initialized | Function(gridsterComponent) | undefined
    destroyCallback | callback to call after grid has destroyed | Function(gridsterComponent) | undefined
    gridSizeChangedCallback | callback to call after grid has changed size cols/rows | Function(gridsterComponent) | undefined
    itemChangeCallback | callback to call for each item when is changes x, y, rows, cols | Function(gridsterItem, gridsterItemComponent) | undefined
    itemResizeCallback | callback to call for each item when width/height changes | Function(gridsterItem, gridsterItemComponent) | undefined
    itemInitCallback | callback to call for each item when is initialized | Function(gridsterItem, gridsterItemComponent) | undefined
    itemRemovedCallback | callback to call for each item when is removed | Function(gridsterItem, gridsterItemComponent) | undefined
    itemValidateCallback | callback to call to validate item position/size. Return true if valid. | Function(gridsterItem) | undefined
  </markdown>
</div>
<div class="options-header">

  <button mat-mini-fab (click)="addItem()" matTooltip="Add widget" class="add-button cols-2">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-mini-fab class="destroy-button" (click)="destroy()">
    <mat-icon>delete</mat-icon>
  </button>
</div>


<gridster [options]="options" *ngIf="!remove">
  <gridster-item [item]="item" *ngFor="let item of dashboard">
    <div class="button-holder">
      <button mat-mini-fab (mousedown)="removeItem($event, item)"
              (touchstart)="removeItem($event, item)" matTooltip="Remove">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </gridster-item>
</gridster>
