<div class="options">
  <a
    mat-raised-button
    href="https://github.com/tiberiuzuld/angular-gridster2/tree/master/src/app/sections/displayGrid"
    target="_blank"
    class="source-code-button"
  >
    <mat-icon>open_in_new</mat-icon>
    Source
  </a>
  <markdown [src]="'assets/displayGrid.md'"></markdown>
</div>
<div class="options-header">
  <mat-form-field>
    <mat-select
      aria-label="Display grid lines"
      [(ngModel)]="options.displayGrid"
      placeholder="Display grid lines"
      (ngModelChange)="changedOptions()"
    >
      <mat-option value="always">Always</mat-option>
      <mat-option value="onDrag&Resize">On Drag & Resize</mat-option>
      <mat-option value="none">None</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-mini-fab (click)="addItem()" class="add-button cols-2">
    <mat-icon>add</mat-icon>
  </button>
</div>

<gridster [options]="options">
  <gridster-item [item]="item" *ngFor="let item of dashboard">
    <div class="button-holder">
      <button
        mat-mini-fab
        (mousedown)="removeItem($event, item)"
        (touchstart)="removeItem($event, item)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </gridster-item>
</gridster>
