<mat-nav-list>
  <a
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    mat-list-item
  >
    Home</a
  >
  <a routerLink="/api" routerLinkActive="active" mat-list-item> API</a>
  <a routerLink="/compact" routerLinkActive="active" mat-list-item> Compact</a>
  <a routerLink="/displayGrid" routerLinkActive="active" mat-list-item>
    Display Grid</a
  >
  <a routerLink="/drag" routerLinkActive="active" mat-list-item> Drag</a>
  <a mat-list-item routerLink="/dynamicWidgets" routerLinkActive="active">
    Dynamic Widgets</a
  >
  <a routerLink="/emptyCell" routerLinkActive="active" mat-list-item>
    Empty Cell</a
  >
  <a routerLink="/gridEvents" routerLinkActive="active" mat-list-item>
    Grid Events</a
  >
  <a routerLink="/gridMargins" routerLinkActive="active" mat-list-item>
    Grid Margins</a
  >
  <a routerLink="/gridSizes" routerLinkActive="active" mat-list-item>
    Grid Sizes</a
  >
  <a routerLink="/gridTypes" routerLinkActive="active" mat-list-item>
    Grid Types</a
  >
  <a routerLink="/items" routerLinkActive="active" mat-list-item> Items</a>
  <a routerLink="/trackBy" routerLinkActive="active" mat-list-item> Track By</a>
  <a routerLink="/push" routerLinkActive="active" mat-list-item> Push</a>
  <a routerLink="/resize" routerLinkActive="active" mat-list-item> Resize</a>
  <a routerLink="/swap" routerLinkActive="active" mat-list-item> Swap</a>
  <a routerLink="/multiLayer" routerLinkActive="active" mat-list-item>
    Multi Layer</a
  >
  <a routerLink="/misc" routerLinkActive="active" mat-list-item> Misc</a>
  <a routerLink="/rtl" routerLinkActive="active" mat-list-item> RTL</a>
</mat-nav-list>
<router-outlet></router-outlet>
