<md-toolbar colo="primary">
  <div class="main-toolbar">
    <button md-mini-fab (click)="addItem()" mdTooltip="Add widget">
      <md-icon>add</md-icon>
    </button>
    <md-select aria-label="Grid type" [(ngModel)]="options.gridType" (ngModelChange)="changedOptions()"
               placeholder="Grid Type">
      <md-option value="fit">Fit to screen</md-option>
      <md-option value="scrollVertical">Scroll Vertical</md-option>
      <md-option value="scrollHorizontal">Scroll Horizontal</md-option>
      <md-option value="fixed">Fixed</md-option>
    </md-select>
    <md-checkbox [(ngModel)]="options.compactUp" (ngModelChange)="changedOptions()">
      Compact Up
    </md-checkbox>
    <md-checkbox [(ngModel)]="options.compactLeft" (ngModelChange)="changedOptions()">
      Compact Left
    </md-checkbox>
    <md-checkbox [(ngModel)]="options.swap" (ngModelChange)="changedOptions()">
      Swap Items
    </md-checkbox>
    <md-checkbox [(ngModel)]="options.pushItems" (ngModelChange)="changedOptions()">
      Push Items
    </md-checkbox>
    <md-checkbox [(ngModel)]="options.draggable.enabled" (ngModelChange)="changedOptions()">
      Drag Items
    </md-checkbox>
    <md-checkbox [(ngModel)]="options.resizable.enabled" (ngModelChange)="changedOptions()">
      Resize Items
    </md-checkbox>
    <div class="margin-slider">
      <div><span>Margin</span></div>
      <md-slider aria-label="Margin" thumbLabel
                 min="0" max="30" step="1" (ngModelChange)="changedOptions()"
                 [(ngModel)]="options.margin"></md-slider>
    </div>
    <md-checkbox [(ngModel)]="options.outerMargin" (ngModelChange)="changedOptions()">Outer Margin</md-checkbox>
    <md-input-container>
      <input mdInput [(ngModel)]="options.maxItemCols" type="number" placeholder="Max Item Cols"
             (ngModelChange)="changedOptions()">
    </md-input-container>
    <md-input-container>
      <input mdInput [(ngModel)]="options.minItemCols" type="number" placeholder="Min Item Cols"
             (ngModelChange)="changedOptions()">
    </md-input-container>
    <md-input-container>
      <input mdInput [(ngModel)]="options.maxItemRows" type="number" placeholder="Max Item Rows"
             (ngModelChange)="changedOptions()">
    </md-input-container>
    <md-input-container>
      <input mdInput [(ngModel)]="options.minItemRows" type="number" placeholder="Min Item Rows"
             (ngModelChange)="changedOptions()">
    </md-input-container>
    <md-input-container>
      <input mdInput [(ngModel)]="options.defaultItemRows" type="number" placeholder="Default Item Rows"
             (ngModelChange)="changedOptions()">
    </md-input-container>
    <md-input-container>
      <input mdInput [(ngModel)]="options.defaultItemCols" type="number" placeholder="Default Item Cols"
             (ngModelChange)="changedOptions()">
    </md-input-container>
    <md-input-container>
      <input mdInput [(ngModel)]="options.fixedColWidth" type="number" placeholder="Fixed Col Width"
             (ngModelChange)="changedOptions()">
    </md-input-container>
    <md-input-container>
      <input mdInput [(ngModel)]="options.fixedRowHeight" type="number" placeholder="Fixed Row Height"
             (ngModelChange)="changedOptions()">
    </md-input-container>
    <md-input-container>
      <input mdInput [(ngModel)]="options.minCols" type="number" placeholder="Min Grid Cols"
             (ngModelChange)="changedOptions()">
    </md-input-container>
    <md-input-container>
      <input mdInput [(ngModel)]="options.maxCols" type="number" placeholder="Max Grid Cols"
             (ngModelChange)="changedOptions()">
    </md-input-container>
    <md-input-container>
      <input mdInput [(ngModel)]="options.minRows" type="number" placeholder="Min Grid Rows"
             (ngModelChange)="changedOptions()">
    </md-input-container>
    <md-input-container>
      <input mdInput [(ngModel)]="options.maxRows" type="number" placeholder="Max Grid Rows"
             (ngModelChange)="changedOptions()">
    </md-input-container>
    <md-select aria-label="Display grid lines" [(ngModel)]="options.displayGrid"
               placeholder="Display grid lines"
               (ngModelChange)="changedOptions()">
      <md-option value="always">Always</md-option>
      <md-option value="onDrag&Resize">On Drag & Resize</md-option>
      <md-option value="none">None</md-option>
    </md-select>
  </div>
</md-toolbar>

<gridster [options]="options">
  <gridster-item [item]="item" *ngFor="let item of dashboard">
    <div class="button-holder">
      <div class="gridster-item-content" *ngIf="item.hasContent">
        <div class="stuff">
          Some content to select and click without dragging the widget
        </div>
      </div>
      <div class="item-buttons" *ngIf="item.hasContent">
        <button md-icon-button md-raised-button class="drag-handler">
          <md-icon>open_with</md-icon>
        </button>
        <button md-icon-button md-raised-button class="remove-button" (click)="removeItem($event, item)"
                (touchstart)="removeItem($event, item)" mdTooltip="Remove">
          <md-icon>clear</md-icon>
        </button>
      </div>
      <label *ngIf="!item.hasContent">{{item.label}}</label>
      <button md-mini-fab *ngIf="!item.hasContent" (click)="removeItem($event, item)"
              (touchstart)="removeItem($event, item)" mdTooltip="Remove">
        <md-icon>clear</md-icon>
      </button>
    </div>
  </gridster-item>
</gridster>
