html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

gridster-item div.button-holder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

md-toolbar {
  max-height: 20%;
}

md-toolbar .md-toolbar-tools {
  max-height: initial;
  height: initial;
}

md-toolbar input[type='number'] {
  width: 50px;
}

md-toolbar md-checkbox {
  margin: 0;
}
