<md-toolbar>
  <div class="md-toolbar-tools layout-row layout-align-space-between-center">
    <md-button class="md-fab md-mini" ng-click="main.addItem()">
      <md-icon>add</md-icon>
      <md-tooltip>Add widget</md-tooltip>
    </md-button>
    <md-select aria-label="Grid type" ng-model="main.options.gridType">
      <md-option value="fit">Fit to screen</md-option>
      <md-option value="scrollVertical">Scroll Vertical</md-option>
      <md-option value="scrollHorizontal">Scroll Horizontal</md-option>
    </md-select>
    <md-checkbox ng-model="main.options.compactUp">
      Compact Up
    </md-checkbox>
    <md-checkbox ng-model="main.options.compactLeft">
      Compact Left
    </md-checkbox>
    <md-checkbox ng-model="main.options.swap">
      Swap Items
    </md-checkbox>
    <md-checkbox ng-model="main.options.draggable.enabled">
      Drag Items
    </md-checkbox>
    <md-checkbox ng-model="main.options.resizable.enabled">
      Resize Items
    </md-checkbox>
    <div class="flex-30 layout-row layout-align-center-center">
      <div><span>Margin</span></div>
      <md-slider aria-label="Margin" class="flex" min="0" max="30" ng-model="main.options.margin"></md-slider>
      <input type="number" min="0" max="30" ng-model="main.options.margin">
    </div>
    <md-checkbox ng-model="main.options.outerMargin">Outer Margin</md-checkbox>
  </div>
</md-toolbar>

<div gridster="main.options">
  <div gridster-item="item" ng-repeat="item in main.dashboard">
    <div class="button-holder">
      <md-button class="md-fab md-primary md-mini" ng-click="main.removeItem(item)">X
        <md-tooltip>Remove</md-tooltip>
      </md-button>
    </div>
  </div>
</div>
