@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$gridster-app-primary: mat.define-palette(mat.$blue-palette);
$gridster-app-accent: mat.define-palette(mat.$blue-palette);

// The warn palette is optional (defaults to red).
$gridster-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$gridster-app-theme: mat.define-light-theme(
  $gridster-app-primary,
  $gridster-app-accent,
  $gridster-app-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($gridster-app-theme);
