name: Deploy Demo

on: [ push ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - name: npm install, build, and deploy
        run: |
          npm ci --legacy-peer-deps
          npm run build-lib
          npm run deploy
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
